/* Styling for the whole page */
.book-appointment-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .book-appointment-container h1 {
    text-align: center;
  }
  
  /* Styling for form groups */
  .book-appointment-container .appointment-form-group {
    margin-bottom: 20px;
  }
  
  .book-appointment-container label {
    display: block;
    margin-bottom: 5px;
  }
  
  .book-appointment-container input[type="date"],
  .book-appointment-container select {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  /* Styling for the Submit button */
  .book-appointment-container .book-appointment button[type="submit"] {
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 18px;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .book-appointment-container .book-appointment button[type="submit"]:hover {
    background-color: #0056b3;
  }
  
  /* Styling for the related inventory section */
  .book-appointment-container .book-appointment {
    text-align: center;
  }
  