.sidebar{
    height: 80px;
    display: flex;
    /* eslint-disable-next-line */
    justify-content: flax-start;
    align-items: center;
}

.menu-bars{
    margin-left: 2rem;
    font-size: 2rem;
    background: none;
}

.menu-bars1{
    color: white;
    text-decoration: none;
    font-size: 1.6rem ;
    margin-left: 100px;
}

.side-menu {
    background-color: rgba(0, 0, 0, 0.8);
    width: 20%;
    height: 100vh;
    display: flex;
    justify-content: center;
    position: fixed;
    top:0;
    left: -100%;
    transition: 850ms;
}

.side-menu.active {
    left:0;
    transition: 350ms;
}

.side-text {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 8px 0px 8px 16px;
    list-style: none;
    height: 60px;
}

.side-text a{
    text-decoration: none;
    color: white;
    font-size: 18px;
    width: 95%;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 16px;
    border-radius: 4px;
}

.side-text a:hover {
    background-color: #1a83ff;
}

.side-menu-items {
    width: 100%;
}

.sidebar-toggle {
    background-color: rgba(0, 0, 0, 0.8);
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

span {
    margin-left: 16px;
}