.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #222831;
    height: 63px;
    display: flex;
    align-items: center;
    padding: 0 !important;
}

.navbar .navbar_navigation {
    display: flex;
    flex-grow: 1;
    align-items: center;
    margin-right: 15px;
}

.navbar .helper {
    flex-grow: 1;
}

.navbar .nav_items ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar .nav_items li {
    margin-right: 1rem;
}

.navbar .nav_items a {
    color: #EEEEEE;
    font-size: 1.5rem;
    text-decoration: none;
}

.navbar .nav_items a:hover {
    color: #007bff;
}

@media (max-width: 768px) {
    .navbar {
        height: auto;
        flex-direction: column;
        align-items: flex-start;
    }

    .navbar .navbar_navigation {
        width: 100%;
        justify-content: space-between;
        padding-bottom: 1rem;
    }

    .navbar .nav_items ul{
        flex-direction: column;
    }

    .navbar .nav_items li {
        margin-bottom: 0.5rem;
    }
}