.login-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.image-container {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.image-container img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.form-container {
    margin: 10px;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background-color: #ede7e7;
    border-radius: 8px;
}
.form-container h1 {
    margin-bottom: 30px;
    font-family: 'Tangerine', serif;
    font-size: 68px;
    font-style: italic;
    text-shadow: 4px 4px 4px #aaa;
    font-weight: bolder;
    text-align: center;
    position: relative;
}

.form-container h1::before,
.form-container h1::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: transparent;
    border-top: 2px dashed #ba4343;
    top: 85%;
    transform: translateY(-50%);
}

.form-container h1::before {
    left: 0;
}

.form-container h1::after {
    right: 0;
}

.form-container h2 {
    margin-bottom: 30px;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

.form-container form {
    width: 100%;
    max-width: 400px;
}

.form-container label {
    display: block;
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: bold;
}

.form-container input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 14px;
}

.form-container button {
    width: 105%;
    padding: 8px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    transition: background-color 0.3s;
}

.form-container button:hover {
    background-color: #0056b3;
}

.form-links {
    display: flex;
    justify-content:flex-end;
    margin-top: 10px;
}
.link-button {
    margin: 3px;
    background: none;
    border: none;
    padding: 0;
    font-family: inherit;
    font-size: inherit;
    color: blue;
    text-decoration: underline;
    cursor: pointer;
}

.link-button:hover {
    color: darkblue;
}